<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Account Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const newPassword = document.getElementById('new_password');
            const confirmPassword = document.getElementById('new_password2');

            confirmPassword.style.display = 'none';  // Initially hide the confirm password field

            newPassword.addEventListener('input', function() {
                if (newPassword.value) {
                    confirmPassword.style.display = 'block';  // Show if new password is not empty
                } else {
                    confirmPassword.style.display = 'none';  // Hide if new password is empty
                }
            });
        });
    </script>
</head>
<body>   
    <header></header>
    <main>
        <div> 
            <form action="/minecraft/account" method="post" class="container w3">
                
                <label for="old_username">Username</label>
                <input type="text" id="old_username" name="old_username" placeholder="Enter your username." required>
                
                <label for="old_password">Old Password</label>
                <input type="password" id="old_password" name="old_password" placeholder="Enter your current password." required>
                
                <label for="new_password">New Password</label>
                <input type="password" id="new_password" name="new_password" placeholder="Enter your new password (optional).">

                <input type="password" id="new_password2" name="new_password2" placeholder="Confirm new password.">
                
                <label for="email">New E-Mail</label>
                <input type="email" id="new_email" name="new_email" placeholder="Enter your new e-mail (optional).">
                

                <div class="messagebox">
                    <hr style="height: 10px; margin: 0px">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div>{{ message }}</div>
                        {% endfor %}
                    {% else %}
                        <div>Enter the credentials you want to change</div>
                    {% endif %}
                    {% endwith %}
                </div>

                <hr style="height: 15px;">
                <div class="vbutton-container">
                    <input type="submit" value="Update Account">
                    <button onclick="window.location.href='/minecraft/'">Go Back</button>
                </div>
            </form>        
        </div>
    </main>
</body>
</html>
