<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Account Information</title>
    <script>
        // Define global JavaScript variables with session values
        const username   = "{{ session['username'] }}";
        const api_key    = "{{ session['api_key'] }}";
        const perm_level = "{{ session['perm_level'] }}";
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>   
    <header></header>
    <main>
        <div class="widthbox" id="widthbox2" style="align-items: center; height:fit-content">
            <div class="container" id="accountsidebar" style="margin-inline: 5px;">
                <h2> Hello, {{ session['username'] }}! </h2>
                <div id="sidebarmessage">What do you want to do?</div>
                <hr>
                
                <div class="button-container">
                    <button id="changePwBtn" onclick="openEditorPassword()">Change Password</button>
                    <button id="changeMailBtn" onclick="openEditorEmail()">Change E-Mail</button>
                    <button id="changeNameBtn" onclick="openEditorName()">Change Name</button>
                    <button id="deleteAccountBtn">Delete Account</button>
                    <button id="leavePageBtn" onclick="window.location.href='/minecraft/'">Back to Homepage</button>
                </div>
            </div>

            <div class="container" id="accounteditor" style="margin-inline: 5px; margin-block: none; display: none;">

                
                <div id="changepasswordform">
                    <h2>Change Password</h2>

                    <hr style="height: 10px">
                    <label for="new_password">New Password</label>
                    <input type="password" id="new_password" name="new_password" placeholder="Minimum length 7 characters">
                    
                    <label for="new_password2">New Password (Confirm)</label>
                    <input type="password" id="new_password2" name="new_password2" placeholder="Enter your new password again.">
                </div>

                <div id="changemailform">
                    <h2>Change E-Mail</h2>
                    
                    <hr style="height: 10px">
                    <label for="new_email">New E-Mail</label>
                    <input type="email" id="new_email" name="new_email" placeholder="Enter your new e-mail address.">
                    
                    <label for="new_email2">New E-Mail (Confirm)</label>
                    <input type="email" id="new_email2" name="new_email2" placeholder="Confirm your new e-mail address.">
                </div>

                <div id="changenameform">
                    <h2>Change Username</h2>
                    
                    <hr style="height: 10px">
                    <label for="new_name">New Username</label>
                    <input type="text" id="new_name" name="new_name" placeholder="Enter your new name.">
                    
                    <label for="new_name2">New Username (Confirm)</label>
                    <input type="text" id="new_name2" name="new_name2" placeholder="Enter your new name again.">
                </div>

                <label for="current_username">Username</label>
                <input type="text" id="current_username" name="current_username" placeholder="Enter your current username." required>
                
                <label for="current_password">Password</label>
                <input type="password" id="current_password" name="current_password" placeholder="Enter your current password." required>
            
                <h3 id="js_hint_messages" style="color: #f55; display: none;"> </h3>

                <hr style="height: 5px">
                <div class="vbutton-container">
                    <button id="cancelPwChange" onclick="closeEditor()">Cancel</button>
                    <button id="submitPwChange" onclick="submitEditorData()">Submit</button>
                </div>    
                
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='account.js') }}"></script>
</body>
</html>
