<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Account Information</title>
    <script>
        // Define global JavaScript variables with session values
        const username   = "{{ session['username'] }}";
        const api_key    = "{{ session['api_key'] }}";
        const perm_level = "{{ session['perm_level'] }}";
    </script>
    <script src="./static/pingServer.js'"></script>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>   
    <header></header>
    <main>
        
        <div class="panelbox windowelem">
            
            <div class="panelmain"> 
                <div class="sidebar" style="display:flex"> 

                    <div class ="hl"></div>
                    <button class="sidebarbutton-selected">New Registration Key</button>
                    <div class ="hl"></div>
                    <button class="sidebarbutton">Edit User</button>
                    <div class ="hl"></div>
                    <button class="sidebarbutton">Delete User</button>
                    <div class ="hl"></div>
                    <button class="sidebarbutton">Leave Panel</button>
                    <div class ="hl"></div> 

                </div>

                <div style="display: flex; flex-direction: column; width: 100%;">
                    <div class="panelheader" style="width: 100%"> 
                        <div> 
                            <h1>Admin Control Panel</h1>
                        </div>
                    </div>

                    <div class="panelcontent">
                        <div id="newkeyform" style="display:none">

                            <h3 style="margin-bottom: 0px;">Generate a new registration key</h3>

                            <div class ="hl"></div> 
                            <hr style="height: 20px">

                            <label>Registration Key</label>
                            <input type="text" id="regkey_customkey" placeholder="Leave empty for random hexstring">

                            <label>Validity Duration</label>
                            <input type="text" id="regkey_duration" placeholder="Duration in days; Standard value 30">

                            <label>Permission Level</label>
                            <input type="text" id="regkey_duration" placeholder="Range 1 .. 10; Standard value 1">

                            <hr style="height: 5px">
                            <button>Confirm</button>

                        </div>
                        <div id="newkeyform">

                            <h3 style="margin-bottom: 0px;">Manage user account</h3>

                            <div class ="hl"></div> 
                            <hr style="height: 20px">

                            <label>Registration Key</label>
                            <input type="text" id="regkey_customkey" placeholder="Leave empty for random hexstring">

                            <label>Validity Duration</label>
                            <input type="text" id="regkey_duration" placeholder="Duration in days; Standard value 30">

                            <label>Permission Level</label>
                            <input type="text" id="regkey_duration" placeholder="Range 1 .. 10; Standard value 1">

                            <hr style="height: 5px">
                            <button>Confirm</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <script src="./static/adminpanel.js'"></script>
</body>
</html>
