<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site under construction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header></header>
    <main>
        <div class="container">
            <h2>This site is currently under construction.</h2>
            <hr>
            <div class="button-container w3">
                <button onclick="window.location.href='/minecraft/'">Back To Index</button>
            </div>
        </div>
    </main>
</body>
</html>