<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Registration Form</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>   
    <header></header>
    <main>
        <div> 
        <br>
        <form action="/minecraft/register" method="post" class="container windowelem">
            <h2>New Account</h2>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="This must match your name in minecraft." required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password must be at least 7 characters." required>
            <label for="email">E-Mail</label>
            <input type="email" id="email" name="email" placeholder="Please fill in your e-mail." required>
            <label for="email">Registration Key</label>
            <input type="text" id="key" name="key" placeholder="Contact the admin if you need one." required>
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div class="messagebox">
                        {% for category, message in messages %}
                            <p class="{{ category }}" style="font-weight: bold">{{ message }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
            </div>
            <div>Already have an Account?</div> 
            <a href="/minecraft/login">Sign in here</a>
            <hr style="height: 5px;">
            <div class="button-container ">
            <input type="submit" value="Register">
            </div>
        </form>        
        </div>
    </main>
</body>
</html>
