/* static/styles.css */
:root {
    --white: #fff;
    --brighter: #eee;
    --bright: #eee;
    --medium: #999;
    --dark: #555;
    --darker: #111;
    --tint: rgba(128, 160, 192, 0.2);
    height:100%;
  }

html {
    height:100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--darker); /* Sehr dunkler Hintergrund für den gesamten Body */
    color: var(--white); /* Helle Schriftfarbe für besseren Kontrast */
    margin: 0;
    padding: 0;
    background-image: url(mc0.jpg); /*url("mc1.jpg");*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-shadow: 1px 1px 2px black;
    height:100%;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Höhe abzüglich Header- und Footer-Höhe */
    width: 100%;
    padding: 0px;
}

a {
    color: #fff;
}

h2 {
    margin-top: 15px;
    font-size: 28px;
}


.widthbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

header {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    height: 0px;
    display: none;
    text-align: center;
}

h3 {
    margin-top: 15px;
}

.errormessage {
    font-weight: bold;
    color: rgb(255, 96, 96);
    text-emphasis-color: green;
}

.messagebox {
    font-size: medium;
    border: none;
    padding: 0px;
    width: 100%;
    height: fit-content;
    padding-block: 2px;
}

label {
    font-size: smaller;
}

#consoleWindow {
    margin-top: 8px;
    margin-bottom: 5px;
    display: none;
    padding: 3px;
    padding-top: 5px;
    background-image: radial-gradient(circle at bottom, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.3) 90%);
    width: fit-content;
    max-height: 100%;
    max-width: 100%;
    min-width: 300px;
}

#consoleInput {
    color: #fff;
    font-size: 12;
    border: 2px solid #444;
    background-color: rgba(0, 0, 0, 0.8);
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0px;
    text-align: left;
    outline: none;
    height: 30px;
}

#consoleOutput {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(225, 234, 245);
    padding: 10px;
    overflow-y: hidden;
    white-space: pre-wrap;
    font-family: monospace;
    border: 2px solid #444;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: calc(100% - 57px);
    border-bottom: none;
    text-align: left;
    max-width: 1000px;
    min-height: 240px;
}

.toolbar {
    outline: none;
    position: fixed; /* Fixiert die Toolbar am Bildschirm */
    top: 4px; /* Platziert sie oben am Bildschirm */
    left: 4px; /* Platziert sie links am Bildschirm */
    width: calc(100% - 10px); /* Macht sie so breit wie der Bildschirm */
    background-color: #444; /* Hintergrundfarbe, kann angepasst werden */
    color: white; /* Textfarbe, kann angepasst werden */
    z-index: 1000; /* Legt die Toolbar über anderen Inhalten */
    display: none; /* Verwendet Flexbox für die Anordnung */
    justify-content: center; /* Abstand zwischen den Knöpfen */
    align-items: center; /* Zentriert die Knöpfe vertikal */
    align-self: center;
    padding-inline: 0px; /* Innenabstand, kann angepasst werden */
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    border: 1px solid #444;
    border-bottom: none;
    box-shadow: 0px 4px 0px black;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


#closeBtn2 {
    background-color: #789;
    border-top-left-radius: 5px;
}

#startBtn2 {
    background-color: #053;
    border-left: 1px solid #595;
}

#stopBtn2 {
    border-left: 1px solid #977;
    background-color: #500;
    border-top-right-radius: 5px;
}


.consoleBtn {
    background: #053;
    outline: 1px solid #333;
    border-radius: 0px;
    border: 2px outset #777;
    box-shadow: inset 2px 8px 12px rgba(255, 255, 255, 0.5);
    font-size: large;
    width: 100%;
    height: 32px;
    padding: 3px;
    margin: 0px;
    border-bottom: 2px solid black;
    outline: none;
}

#consoleInput:focus {
    outline: none;
}

#serverSidebar {
    height:fit-content;
    min-width: 100px;
    margin: 5px;
}

.windowTitle {
    text-align: center;
    text-decoration: double;
    font-size: small;
}


input[type="text"], input[type="password"], input[type="email"] {
    outline: 1px solid rgba(255,255,255,0.25);
    width: 100%;
    padding: 10px 10px;
    font-size: 14px;
    margin: 5px 0 20px;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--bright);
    border: 1px inset rgba(0,0,0,0.25);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    outline: 1px solid var(--bright);
    color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #eee inset !important;
    color: #555;
    outline: none;
}

input[type="submit"], button {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    /*background-color: var(--tint);;
    background-image: url(aero/glassbtn050b.png);
    background-size: 100% 150%;*/
    background: linear-gradient(0deg, rgba(0,0,0,.4), rgba(255,255,255,0.1) 80%);
    color: var(--white);
    border: 1px outset rgba(77, 77, 77, 0.5);
    box-shadow: inset 4px 8px 8px rgba(255,255,255,0.25);
    text-shadow: 0px 0px 4px #000;
    box-sizing: border-box;
    outline: 1px solid rgba(255,255,255,0.25);
}
input[type="submit"]:hover, button:hover {
    /*background-color: rgba(255, 255, 255, 0.2);*/
    box-shadow: inset 2px 4px 8px rgba(255,255,255,0.5);
    background-size: 100% 100%;
}

input[type="submit"]:active, button:active{
    border: 1px inset #000;
    box-shadow: inset 1px 1px 5px #000;
    background: rgba(255, 255, 255, 0.1);
}

hr {
    border: none;
    width: 100%;
    height: 20px;
}

h1 {
    color: #fff; /* Helle Akzentfarbe für die Überschrift */
    margin: 0;
    text-shadow: 1px 1px 2px black;
}



.button-container {
    display: flex;
    flex-direction: column;
    /*width: 300px;*/
    margin: 0px 0px;
    padding: 0px 0px;
    gap: 25px; /* Abstand zwischen den Buttons */
}

.vbutton-container {
    display: flex;
    flex-direction: row;
    /*width: 300px;*/
    margin: 0px 0px;
    padding: 0px 0px;
    gap: 20px; /* Abstand zwischen den Buttons */
}

.error {
    color: #f55;
}

.panelbox {
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px);
    max-width: 700px;
    max-height: 500px;
    align-items: flex-start;
    height: fit-content;
}

.panelheader {
    /*background-color: rgba(0, 255, 0, 0.2);*/
    width: calc(100%);
    min-height: 50px;
}

.panelmain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: calc(100%);
    height: calc(100% - 40px);
    height:fit-content;
}

.panelcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: calc(100% - 0px);
    height: fit-content;
    width: calc(100% - 50px);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 25px;
    padding-top: 10px;
    margin: 0px;
}

.windowelem {
    margin: 5px;
    padding: 15px;
    backdrop-filter: blur(15px);
    background-color: var(--tint);
    border-radius: 5px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.333); /* Sanfte Schatten für einen 3D-Effekt */
    border: 1px solid var(--medium);  
    background-image: radial-gradient(circle at bottom, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.3) 90%); /*url(aero/aero3.png);*/
    background-size: cover;
    align-content: center;
    justify-content: center;
    text-align: center;
    display:flex;
    flex-direction: column;

}

.container, form {
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    padding: 25px;
    padding-top: 20px;
    width: 320px;
    max-width: 90%;
    text-align: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    width: 200px;
    height: calc(100%);
}

.sidebarbutton {
    border-radius: 0;
    margin: 0px;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    padding: 5px;
    margin: 0px;
    text-shadow: 1px 1px 4px black;
}

.sidebarbutton:hover {
    border: none;
    outline: none;
    box-shadow: none;
    background:  radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, transparent);
}

.sidebarbutton:active {
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: 1px 1px 2px #ccc;
    background:  radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, transparent);
}

.sidebarbutton-selected, .sidebarbutton-selected:active, .sidebarbutton-selected:hover{
    border-radius: 0;
    margin: 0px;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 5px;
    text-shadow: 1px 1px 4px black;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: rgba(0, 0, 0, 0.2);
    cursor: default;
}


.vl {
    width: 1px;
    height: 100%; 
    background:  radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, transparent 90%);
    padding: 0px;
    margin: 0px;
    border: none;
}

.hl {
    width: 100%;
    height: 1px; 
    background:  radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, transparent);
    padding: 0px;
    margin: 0px;
    margin-block: 5px;
    border: none;
}

input::placeholder {
    font-style: italic;
    color: #fff;
    opacity: 1; /* Firefox */
  }
